EPAM_Lab/Lab/NetCore/Day1-2.UserStorage/WCFUI/Service References/ServiceReference1/master.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.Models" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/BLL.Models"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BllUser">
    <xs:sequence>
      <xs:element name="_x003C_BirthDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Cards_x003E_k__BackingField" nillable="true" type="tns:ArrayOfBllVisaRecord" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" type="tns:BllGender" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BllUser" nillable="true" type="tns:BllUser" />
  <xs:complexType name="ArrayOfBllVisaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BllVisaRecord" nillable="true" type="tns:BllVisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBllVisaRecord" nillable="true" type="tns:ArrayOfBllVisaRecord" />
  <xs:complexType name="BllVisaRecord">
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ExpiryDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BllVisaRecord" nillable="true" type="tns:BllVisaRecord" />
  <xs:simpleType name="BllGender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BllGender" nillable="true" type="tns:BllGender" />
</xs:schema>